.container-fluid .row:nth-child(1) {
    padding-top: 5%;
}

.container-fluid .row:nth-child(2) {
    text-align: center;
}

.container-fluid .row:nth-child(3) {
    padding-top: 1%;
}

#pc-chart {
}

#select-product-wrapper {
}

#select-product-ts-control {
}

.ts-wrapper {
    height: 50px;
}

.ts-control {
    height: 50px;
}

.ts-control .item {
    line-height: 31px;
}

#source {
    display: none;
}

.option .store.tus {
    display: inline-block;
    height: 20px;
    width: 31px;
    margin-left: 5px;
    background-image: url("/static/img/logo-tus.png");
}

.option .store.mercator {
    display: inline-block;
    height: 20px;
    width: 19px;
    margin-left: 5px;
    background-image: url("/static/img/logo-mercator.png");
}

.option .store.spar {
    display: inline-block;
    height: 20px;
    width: 22px;
    margin-left: 5px;
    background-image: url("/static/img/logo-spar.png");
}