{% extends "base.html" %}

{% block title %}Primerjalnik cen{% endblock %}
{% block script %}const products = JSON.parse('{{ products | tojson | safe }}');{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="higher-lower-prices-links d-flex justify-content-center align-items-center">
            <div><a href="/visje-cene">Višje cene</a> | <a href="/nizje-cene">Nižje cene</a></div>
        </div>

        <div class="select-product-base-1 row height d-flex justify-content-center align-items-center">
            <div class="col-md-6">
                <div class="select-product-wrapper">
                    <div class="title hide">A</div>
                    <select placeholder="Izberi artikel..." autocomplete="off" class="select-product select-product-1">
                        <option value="">Izberi artikel...</option>
                        {% for k, v in products.items() %}
                            <option value="{{ v["id"] }}" data-store="{{ v["store"] }}">{{ v["name"] }}</option>
                        {% endfor %}
                    </select>
                    <div class="compare"></div>
                </div>
            </div>
        </div>

        <div class="select-product-base-2 row height d-flex justify-content-center align-items-center hide">
            <div class="col-md-6">
                <div class="select-product-wrapper">
                    <div class="title hide">B</div>
                    <select placeholder="Izberi artikel..." autocomplete="off" class="select-product select-product-2">
                        <option value="">Izberi artikel...</option>
                        {% for k, v in products.items() %}
                            <option value="{{ v["id"] }}" data-store="{{ v["store"] }}">{{ v["name"] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="row height d-flex justify-content-center align-items-center">
            <div class="col-md-6">
                <canvas id="pc-chart" width="400" height="300"></canvas>
            </div>
        </div>

        <div class="product-info-base row height d-flex justify-content-center align-items-center">
            <div class="col-md-6">
                <div id="product-a" class="col-md-6 product hide">
                    <div class="title">A</div>
                    <div id="name-a"></div>
                    <div id="store-a"></div>
                    <div id="current-price-a"></div>
                    <a href="" id="source-a" target="_blank">vir</a>
                </div>

                <div id="product-b" class="col-md-6 product hide">
                    <div class="title">B</div>
                    <div id="name-b"></div>
                    <div id="store-b"></div>
                    <div id="current-price-b"></div>
                    <a href="" id="source-b" target="_blank">vir</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}