{% extends "base.html" %}

{% block title %}
{% if higher %}Višje cene - Primerjalnik cen{% else %}Nižje cene - Primerjalnik cen{% endif %}
{% endblock %}
{% block body %}
    <h2 class="text-center">{% if higher %}Višje cene{% else %}Nižje cene{% endif %}</h2>
    <table class="table">
        <tr><td>&nbsp;</td><td>Trgovina</td><td>Stara cena</td><td>Nova cena</td></tr>
        {% for k, v in products.items() %}
            <tr><td><a href="{{ v["url"] }}" target="_blank">{{ v["name"] }}</a></td><td>{{ v["store"] }}</td><td>{{ v["changes"][0]["price"]|round(2) }} €</td><td>{{ v["changes"][-1]["price"]|round(2) }} €</td></tr>
        {% endfor %}
    </table>
{% endblock %}

