{% extends "base.html" %}

{% block title %}
{% if higher %}Višje cene - Primerjalnik cen{% else %}Nižje cene - Primerjalnik cen{% endif %}
{% endblock %}
{% block script %}const products = JSON.parse('{{ products | tojson | safe }}');{% endblock %}
{% block body %}
    {% if higher %}
        {% set higher_sl = "visje" %}
    {% else %}
        {% set higher_sl = "nizje" %}
    {% endif %}
    <h5 class="text-center"><a href="/">na prvo stran</a></h5>
    <h2 class="text-center">{% if higher %}Višje cene{% else %}Nižje cene{% endif %}</h2>
    <div class="text-center price-changes-bar">
        <h5>v zadnjih</h5>
        <h3><a data-in-last="7-days" class="active" href="/{{ higher_sl }}-cene/#zadnjih-7-dneh">7 dneh</a> | <a data-in-last="30-days" href="/{{ higher_sl }}-cene/#zadnjih-30-dneh">30 dneh</a> | <a data-in-last="60-days" href="/{{ higher_sl }}-cene/#zadnjih-60-dneh">60 dneh</a> | <a data-in-last="year" href="/{{ higher_sl }}-cene/#zadnje-leto">zadnje leto</a></h3>
    </div>
    <table class="table price-changes">
        <thead>
            <tr><td>&nbsp;</td><td>Trgovina</td><td class="old-price">Stara cena</td><td class="new-price">Nova cena</td></tr>
        </thead>
        <tbody></tbody>
    </table>
{% endblock %}
